:root {
    /* Colors */
    --slate: #393e46;
    --smoke: #758194;
    --fog: #a5b5cf;
    --cornflower: #3554B0;
    --cobalt: #1338A8;
    --orange: #f96d00;
    --gold: #F9CE00;
    --white: #fff3ea;
    --charcoal: #222831;
    --fuschsia: #C0007D;
    --teal: #00998E;
    --teal-dark: #00786F;
	--primary: var(--orange);
	--secondary: var(--teal);
    --tertiary: var(--smoke);
	--background: var(--charcoal);

    /* Fonts */
    --rustica-light-style: normal;
    --rustica-light-weight: 100;
    --rustica-light-family: rustica, sans-serif;
    --rustica-light-italic-style: italic;
    --rustica-light-italic-weight: 100;
    --rustica-light-italic-family: rustica, sans-serif;
    --new-kansas-bold-style: normal;
    --new-kansas-bold-weight: 700;
    --new-kansas-bold-family: kansasnew, serif;
    --rustica-bold-style: normal;
    --rustica-bold-weight: 700;
    --rustica-bold-family: rustica, sans-serif;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.color-fuschsia {
    color: var(--fuschsia);
}

.color-gold {
    color: var(--gold);
}

.color-orange {
    color: var(--orange);
}

.color-cornflower {
    color: var(--cornflower);
}

html,
body {
	padding: 0;
	margin: 0;
    font-style: var(--rustica-light-style);
    font-weight: var(--rustica-light-weight);
    font-family: var(--rustica-light-family);
    color: var(--fog);
}

body {
	display: -ms-grid;
	display: grid;
	height: 100vh;
	-ms-grid-rows: auto 1fr auto;
	grid-template-rows: auto 1fr auto;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
	background-color: var(--background);
}

body > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
}

body > *:nth-child(2) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
}

body > *:nth-child(3) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
}

main {
	max-width: 37.5em;
}

h1,
h2,
h3,
h4,
h5 {
    color: var(--secondary);
}

h1 {
    font-family: var(--new-kansas-bold-family);
    font-weight: var(--new-kansas-bold-weight);
    font-style: var(--new-kansas-bold-style);
}

h2,
h3,
h4,
h5 {
    font-style: var(--rustica-bold-style);
    font-weight: var(--rustica-bold-weight);
    font-family: var(--rustica-bold-family);
}

p,
pre,
code {
	line-height: 1.5;
}

a[href],
a[href]:visited {
	color: var(--primary);
}

a[href]:hover,
a[href]:not(:hover) {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

header,
main,
footer {
	padding: 1em;
}

main {
	padding-bottom: 2em;
}

main :first-child,
main > article :first-child {
	margin-top: 0;
}

pre {
	font-size: 14px;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	-moz-tab-size: 2;
	-o-tab-size: 2;
	   tab-size: 2;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	padding: 1em;
	margin: .5em 0;
}

/* Header Logo (style as h2) */
header > h1 {
	display: block;
	font-size: 2em;
	margin: .67em 0;
    padding-bottom: .33em;
    border-bottom: 1px solid var(--orange);
}

/* Header Nav */
header nav ul {
	padding: 0;
	list-style: none;
}

header nav ul :first-child {
	margin-left: 0;
}

header nav li {
	display: inline-block;
	margin: 0 .25em;
}

header nav li a[href] {
	padding: .25em .5em;
	border-radius: .25em;
    color: var(--fog);
}

header nav li a[href]:not(:hover) {
	text-decoration: none;
}

header nav li a[data-current="current item"] {
	background-color: var(--smoke);
    color: var(--white);
}

/* Posts List */
article {
	margin-bottom: 1em;
	padding-bottom: 1em;
	border-bottom: 1px solid #eee;
	border-bottom: 1px solid var(--secondary);
}

main > section > article > * {
	margin-top: 0;
	margin-bottom: .5em;
}

/* Post Tags */
a[rel="tag"],
a[rel="tag"]:visited {
	display: inline-block;
  vertical-align: text-top;
  text-transform: uppercase;
	letter-spacing: .1em;
  font-size: .625em;
  padding: 0 .5em;
	line-height: 2em;
	height: 2em;
  border: 1px solid var(--cobalt);
	background-color: var(--cornflower);
	color: var(--white);
  border-radius: .25em;
  text-decoration: none;
	margin: 0 .5em .5em 0;
}

a[rel="tag"]:hover {
	border: 1px solid var(--cornflower);
	background-color: var(--cobalt);
	color: var(--gold);
}

a[rel="tag"]:last-child {
	margin-right: 0;
}

/* Contact Form */
form {
  display: -ms-grid;
  display: grid;
	padding: 2em 0;
}

form label {
  display: none;
}

input,
textarea,
button {
  width: 100%;
  padding: 1em;
  margin-bottom: 1em;
	font-size: 1rem;
	font-family: "Avenir", "Avenir Next", sans-serif;
}

input,
textarea {
	border: 1px solid black;
}

button {
	border: 1px solid var(--primary);
	background-color: var(--primary);
	color: var(--secondary);
	cursor: pointer;
}

@media screen and (min-width:768px) {
	:root {
		font-size: 1.1rem;
	}
}
