@import url('variables.css');

*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.color-fuchsia {
    color: var(--fuchsia);
}

.color-gold {
    color: var(--gold);
}

.color-orange {
    color: var(--orange);
}

.color-cornflower {
    color: var(--cornflower);
}

html {
    display: flex;
    flex-direction: column;
    align-items: center;
}

html,
body {
	padding: 0;
	margin: 0;
    font-style: var(--rustica-light-style);
    font-weight: var(--rustica-light-weight);
    font-family: var(--rustica-light-family);
    color: var(--fog);
}

body {
	display: -ms-grid;
    height: 100%;
    width: 100%;
    min-height: 100vh;
	display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--background);
	background: -webkit-gradient(linear, left bottom, left top, from(rgba(8,11,17,1)), color-stop(50%, rgba(15,22,40,1)), to(rgba(17,32,54,1)));
	background: linear-gradient(0deg, rgba(8,11,17,1) 0%, rgba(15,22,40,1) 50%, rgba(17,32,54,1) 100%);
    background-size: cover;
}

footer {
    margin-top: 1rem;
    width: 100%;
    height: 3rem;
    background-color: rgba(0,0,0,.3);
    text-align: center;
}

body > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
}

body > *:nth-child(2) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
}

body > *:nth-child(3) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
}

main {
	width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    max-width: var(--xl);
}

h1,
h2,
h3,
h4,
h5 {
    color: var(--secondary);
}

h1 {
    font-family: var(--new-kansas-bold-family);
    font-weight: var(--new-kansas-bold-weight);
    font-style: var(--new-kansas-bold-style);
}

h2,
h3,
h4,
h5 {
    font-style: var(--rustica-bold-style);
    font-weight: var(--rustica-bold-weight);
    font-family: var(--rustica-bold-family);
}

p,
pre,
code {
	line-height: 1.5;
}

a[href],
a[href]:visited {
	color: inherit;
}

a[href]:hover,
a[href]:not(:hover) {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

header,
main {
	padding: 1rem;
}

main {
	padding-bottom: 2em;
}

main :first-child,
main > article :first-child {
	margin-top: 0;
}

pre {
	font-size: 14px;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	-moz-tab-size: 2;
	-o-tab-size: 2;
	   tab-size: 2;
	-webkit-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	padding: 1em;
	margin: .5em 0;
}

/* Header Logo (style as h2) */
header {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: var(--xl);
}

header img {
    width: 200px;
    margin-bottom: 1rem;
}

header > h1 {
	display: inline;
    margin: 0 0 1rem 0;
    line-height: .9;
}

/* Header Nav */
header nav ul {
	padding: 0;
	list-style: none;
    margin: 0;
    line-height: 1;
}

header nav ul :first-child {
	margin-left: 0;
    padding-left: 0;
}

header nav ul :first-child a[href] {
	margin-left: 0;
    padding-left: 0;
}

header nav li {
	display: inline-block;
	margin: 0 .25em;
}

header nav li a[href] {
	padding: .25em .5em;
	border-radius: .25em;
    color: var(--fog);
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

header nav li a[href]:hover {
	-webkit-filter: brightness(133%);
            filter: brightness(133%);
}


header nav li a[href]:not(:hover) {
	text-decoration: none;
}

header nav li a[data-current="current item"] {
	-webkit-filter: brightness(133%);
	        filter: brightness(133%);
}

@media screen and (min-width: 750px) {
    header {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .postslist__copy h3 {
        font-size: 2em;
    }
}

/* Home Page */

body.home-page main {
    align-items: center;
    padding: 0;
}

section.mast {
    width: 100%;
    height: 60vh;
    min-height: 500px;
    max-height: 750px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1em;
    margin-bottom: 2rem;
    align-items: center;
    background-color: rgba(0,0,0,.2);
}

.mast__copy {
    max-width: var(--lg);
}

.mast__copy h2 {
    font-size: 3rem;
    margin-bottom: 0;
    line-height: 1.1;
}

.mast__copy p {
    font-size: 1.4rem;
    padding-bottom: 1rem;
}

section.mast a {
    background-color: var(--cornflower);
    padding: 1rem 1.5rem .8rem;
    line-height: 1.2;
    color: var(--white);
    font-size: 1.75rem;
    border-radius: 2rem;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    text-shadow: 1px 1px 2px var(--cobalt);
}

section.mast a:hover {
    -webkit-filter: brightness(125%);
            filter: brightness(125%);
}

@media screen and (min-width: 750px) {
    section.mast {
        min-height: 650px;
        max-height: 850px;
    }
    
    header {
        padding-bottom: 0;
    }
}

/* Posts List */
.postslist article {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.postslist__copy h3 a {
    color: var(--fog);
}

.postslist img {
    width: 100%;
    aspect-ratio: auto 1/1;
}

@media screen and (min-width: 500px) {
    .postslist article {
        flex-direction: row;
    }
}

@media screen and (min-width: 750px) {
    .postslist__copy p {
        font-size: 1.1rem;
    }

    .postslist__copy h3 {
        font-size: 2em;
    }
}

main > section > article > * {
	margin-top: 0;
	margin-bottom: .5em;
}

/* Work Page */

.work-page .postslist article {
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 750px) {
    .work-page .postslist article {
        flex-direction: row;
    }

    .work-page .postslist article img {
        max-width: 200px;
    };
}

/* Work Module */

.work-module .postslist {
    padding-top: 2rem;
}

.work-module > h3 {
    color: var(--teal);
}

@media screen and (min-width: 500px) {
    .work-module .postslist {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
    }

    .work-module {
        max-width: var(--sm);
    }

    .work-module .postslist article {
        display: flex;
        flex-direction: column;
    }

    .work-module .postslist article:nth-child(even) {
        -webkit-transform: translateY(2rem);
                transform: translateY(2rem);
    }

    .work-module .postslist article:nth-child(odd) {
        -webkit-transform: translateY(-2rem);
                transform: translateY(-2rem);
    }
}

@media screen and (min-width: 750px) {
    .work-module {
        max-width: 650px;
    }

    .work-module .postslist {
        grid-gap: 50px;
    }
}

@media screen and (min-width: 1000px) {
    .work-module {
        max-width: 750px;
    }

    .work-module .postslist {
        grid-gap: 75px;
    }

    /*.work-module > h3 {
        border-bottom: none;
        border-top: 2px solid var(--ink);
        font-size: 1.5rem;
        -webkit-transform: rotate(90deg) translate(10rem, 9.5rem);
                transform: rotate(90deg) translate(10rem, 9.5rem);
                display: inline-block;
    }*/
}

@media screen and (min-width: 1250px) {
    .work-module {
        max-width: var(--lg);
    }

    .work-module .postslist {
        grid-gap: 100px;
    }
}

/* About Page */

/* Services Page */

/* Services Module */

.services-module {
    max-width: var(--xl);
    margin-top: 2rem;
}

.services-module__copy {
    display: flex;
    flex-direction: column;
    grid-gap: 30px;
}

@media screen and (min-width: 750px) {
    .services-module__copy {
        flex-direction: row;
    }

    .services-module__step {
        width: 33%;
    }
}

.services-module__copy img {
    width: 100%;
    height: auto;
}

/* Post Tags */
a[rel="tag"],
a[rel="tag"]:visited {
    display: inline-block;
    vertical-align: text-top;
    text-transform: uppercase;
    letter-spacing: .1em;
    font-size: .625em;
    padding: 0 .5em;
    line-height: 2em;
    height: 2em;
    border: 1px solid var(--cobalt);
    background-color: var(--cornflower);
    color: var(--white);
    border-radius: .25em;
    text-decoration: none;
    margin: 0 .5em .5em 0;
}

a[rel="tag"]:hover {
	border: 1px solid var(--cornflower);
	background-color: var(--cobalt);
	color: var(--gold);
}

a[rel="tag"]:last-child {
	margin-right: 0;
}

/* Contact Form */
form {
  display: -ms-grid;
  display: grid;
	padding: 2em 0;
 width: 100%;
}

form label {
  display: none;
}

input,
textarea,
button {
  width: 100%;
  padding: 1em;
  margin-bottom: 1em;
	font-size: 1rem;
	font-family: "Avenir", "Avenir Next", sans-serif;
}

input,
textarea {
	border: 1px solid black;
}

button {
	border: 1px solid var(--primary);
	background-color: var(--primary);
	color: var(--white);
	cursor: pointer;
}

@media screen and (min-width:750px) {
	:root {
		font-size: 1.1rem;
	}
}