<head>
  <meta charset="utf-8">
  <link rel="dns-prefetch" href="https://identity.netlify.com">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ renderData.title or title or metadata.title }}</title>
  <meta name="description" content="{{ metaDescription or renderData.metaDescription or metadata.description }}">
  <!-- Remove when deploying for real for real -->
  <meta name="robots" content="noindex" />
  <script async src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  {% set css %}
    {% include "assets/css/variables.css" %}
    {% include "assets/css/inline.css" %}
    <link rel="stylesheet" href="https://use.typekit.net/opx8xep.css">
  {% endset %}
  <style>{{ css | cssmin | safe }}</style>
  <link rel="stylesheet" href="{{ url }}/_includes/assets/css/photoswipe.css">
</head>
