<section class="postslist">
	{% for post in postslist | reverse %}
        {% if loop.index <= 4 %}
            <article{% if post.url == url %} data-current="current item"{% endif %}>
                <a href="{{ post.url | url }}">
                    <img src="/static/img/{{ post.data.featured_image }}">
                </a>
                <div class="postslist__copy">
                    <h4>   
                     <a href="{{ post.url | url }}">
                            {% if post.data.title %}
                                {{ post.data.title }}&nbsp;<span class="postslist__copy__icon">&#9655;</span>
                            {% else %}
                                Untitled&nbsp;<span class="postslist__copy__icon">&#9655;</span>
                            {% endif %}
                        </a>
                    </h4>
                {% if post.data.summary %}
                    <a href="{{ post.url | url }}">
                    <p>
                        {{ post.data.summary }}
                    </p>
                    </a>
                {% endif %}
                {% if post.data.tags %}
                    <p>
                        {% for tag in post.data.tags %}
                        {%- if tag != "post" -%}
                            {% set tagUrl %}/tags/{{ tag }}/{% endset %}
                        <a href="{{ tagUrl | url }}" rel="tag">{{ tag }}</a>
                        {%- endif -%}
                        {% endfor %}
                    </p>
                {% endif %}
                </div>
            </article>
        {% endif %}
	{% endfor %}
</section>
