<script src="_includes/assets/js/anime.min.js"></script>
{% set js %}
{% include "assets/js/inline.js" %}
{% endset %}
<script>{{ js | jsmin | safe }}</script>
{% if  "/posts/" in page.url %}
    <script type="module">
        import PhotoSwipeLightbox from '{{ url }}/_includes/assets/js/photoswipe-lightbox.esm.min.js';
        const options = {
        gallery: '#gallery--responsive-images a',
        pswpModule: () => import('{{ url }}/_includes/assets/js/photoswipe.esm.min.js')
        };
        const lightbox = new PhotoSwipeLightbox(options);
        lightbox.init();
    </script>
{% endif %}
{% if page.url == "/" %}
    <script>
        anime({
            targets: '.foxdog polygon',
            scale: [
            {value: -1, easing: 'easeOutSine', duration: 0},
            {value: 1, easing: 'easeInOutQuad', duration: 1500}
            ],
            loop: false,
            delay: anime.stagger(200, {grid: [5, 25], from: 'last'})
        });
    </script>
{% endif %}