<!doctype html>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="en">

	{% include "components/head.njk" %}
    
	<body class="{{ page.url | replace("/", "") }}-page">

		<header>
		
				<a href="{{ '/' | url }}"> 
                    <img src="/static/img/foxdog-logo.svg">
                </a>
		
			{% include "components/nav.njk" %}
		</header>
		<main>
			{{ layoutContent | safe }}
		</main>

	</body>

</html>
