<!doctype html>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="en">

	{% include "components/head.njk" %}
    
	<body class="{{ page.url | replace("/", "") }}-page">

		<header>
			<h1>
				<a href="{{ '/' | url }}"> 
                    <span class="color-orange">fox</span><span class="color-fuchsia">dog</span>
                </a>
			</h1>
			{% include "components/nav.njk" %}
		</header>
		<main>
			{{ layoutContent | safe }}
		</main>

	</body>

</html>
