<!doctype html>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="en">

	{% include "components/head.njk" %}
    
	<body>

		<header>
			<h1>
				<a href="{{ '/' | url }}"> 
                    <span class="color-gold">the</span><br/> winfeel<br/>
                    <span class="color-fuchsia">agency</span>
                </a>
			</h1>
			{% include "components/nav.njk" %}
		</header>

		<main class="{{ page.url | replace("/", "") }}-page">
			{{ layoutContent | safe }}
            {% include "components/footer.njk" %}
		</main>

	</body>

</html>
