---
layout: layouts/base.njk
section: home
---

<section class="mast">
    <div class="mast__copy">
        {{ layoutContent | safe }}
    </div>
</section>

<section class="work-module">
    {% set postslist = collections.post %}
    {% include "components/postslist.njk" %}
</section>
