---
layout: layouts/base.njk
section: post
---

<article>
  <div class="post__header">
    <img src="/static/img/{{ featured_image }}" alt=""/>    
    <div class="post__header__copy">
         
        <h1>{{ title }}</h1>
        <p>{{ metaDescription }}</p>
          {% if tags %}
            <p>
            {% for tag in tags %}
            {%- if tag != "post" -%}
                {% set tagUrl %}/tags/{{ tag }}/{% endset %}
                <a href="{{ tagUrl | url }}" rel="tag">{{ tag }}</a>
            {%- endif -%}
            {% endfor %}
            </p>
        {% endif %}
    </div>
  </div>


  {{ layoutContent | safe }}



</article>

<nav>
  <a href="{{ '/work/' | url }}">← Featured Work</a>
</nav>
