---
layout: layouts/base.njk
section: work
permalink: /work/index.html
---
<div class="work-headline">
    <h1>Featured Work</h1>
    <p>FoxDog has experience working in a variety of industries with diversified marketing goals. We've designed, developed and executed campaigns ranging from fashion and entertainment to tech and finance. Check out some of our favorite work below and get in touch.
</div>


{{ layoutContent | safe }}
<div class="work-module">
    {% set postslist = collections.post %}
    {% include "components/postslist.njk" %}
</div>
