---
layout: layouts/base.njk
section: work
permalink: /work/index.html
---
<div class="work-headline">
    <h1>Featured Work</h1>
    <p>DAM & MRM colloquium pain point concurrent sessions dashboards & data visualization net new business loss leader keynote positioning statement adoption process complex sale spam score collaboration call-to-action.</p>
</div>


{{ layoutContent | safe }}
<div class="work-module">
    {% set postslist = collections.post %}
    {% include "components/postslist-module.njk" %}
</div>
